<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002840709139-i8v2rcgar7bpt53oaam9uh2oo3nu1nfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002840709139-i8v2rcgar7bpt53oaam9uh2oo3nu1nfi</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4kUy37c0oS_mB89FBD86WRujc9U67cs</string>
	<key>GCM_SENDER_ID</key>
	<string>1002840709139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ackz.MyFirstProject</string>
	<key>PROJECT_ID</key>
	<string>project-ration</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002840709139:ios:7d8b9a4f262d47b0f487e6</string>
	<key>DATABASE_URL</key>
	<string>https://project-ration.firebaseio.com</string>
</dict>
</plist>